
  <div class="col-md-12">
    <div class="card" >
      <h4 class = "card-header">Edit Post</h4>

      <form class="form login-form">
        <div class="form-group">
          <label for="user-login">Title</label>
          <textarea class="form-input" id="Blog-Title" rows="1">{{title}}</textarea>          
        </div>
        <div class="form-group">
          <label for="password-login">Content</label>
          <textarea class="form-input" id="Blog-Content" rows="4">{{description}}</textarea>
        </div>
        <div class="form-group">
          <button class="btn" type="submit" data-id="{{id}}" id="Update-Post">Update Post</button>
        </div>
        <div class="form-group">
          <button class="btn" type="submit" data-id="{{id}}" id="Delete-Post" >Delete</button>
        </div>
      </form>

    </div>
  </div>


<script src="../js/editpost.js"></script>
