
  <div class="col-md-12">
    <div class="card" >
      <h4 class = "card-header">Create Post</h4>

      <form class="form login-form">
        <div class="form-group">
          <label for="user-login">Title</label>
          <textarea class="form-input" id="Blog-Title" rows="1"></textarea>          
        </div>
        <div class="form-group">
          <label for="password-login">Content</label>
          <textarea class="form-input" id="Blog-Content" rows="4"></textarea>
        </div>
        <div class="form-group">
          <button class="btn" type="submit" id="Create-Post">Create</button>
        </div>
      </form>

    </div>
  </div>


<script src="../js/createpost.js"></script>
